/* font import */

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

/* global css variables */

:root{
    --font-one: 'ZCOOL KuaiLe', cursive;
    --font-two: 'Rampart One', cursive;
}

/* tag h1 */

h1{
    font-family: var(--font-two);
    text-align: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    font-size: 45px;
    margin: auto;
}

.container{
    justify-content: center;
    text-align: center;
    display:flex;
    flex-direction: column;
    width: 25vw;
    margin: 2rem auto;
}

label{
    font-family: var(--font-one);
    font-weight: bold;
    margin: 0.5rem;
    font-size: 18px;
}

input{
    font-family: var(--font-one);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 0.3rem auto;
    text-align: center;
    justify-content: center;
    padding: 0.3rem;
    width: 15vw;
}

#date-of-birth{
    padding: 0.2rem;
}

button{
    font-family: var(--font-one);
    font-weight: bold;
    border: 2px solid black;
    border-radius: 0.3rem;
    margin: 2rem auto;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

button:hover{
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    background: black;
    color: white;
}

#output-box{
    font-family: var(--font-one);
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.3rem;
    font-size: 18px;
}


/* template applied */

/* class about*/

.about{
    text-align: center;
    justify-content: center;
    font-weight: bold;
    margin: 1rem;
    font-size: 20px;
    font-family: var(--font-two);
}

/* class app */

.app{
    text-align: center;
    justify-content: center;
    display: block;
    font-weight: bold;
    font-family: var(--font-one);
    margin: 0.5rem;
}

/* link color */

.social-link{
    color: black;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

/* source */

.source{
    text-align: center;
    margin: 0.5rem auto;
    background: white;
    justify-content: center;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    font-weight: bold;
    display: inline-block;
    font-family: var(--font-one);
    transition: all 0.3s ease-in-out;
}

/* class btn */

.btn-source{
    text-align: center;
    margin: 1rem;
}

/* button (source) => hover */
.source:hover{
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    background: black;
    color: white;
}

/* class social */

.social{
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
	padding: 0.5rem 0.5rem;
    justify-content: center;
}

/* class social-list */

.social-list{
    display: inline-block;
    margin: 0.2rem 1rem;
    text-align: center;
    justify-content: center;
    font-size: 1.1rem;
}

/* social link color on hover */

i.fa.fa-linkedin.fa-1x:hover {
    color: #0077b5;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: all black;
}

i.fa.fa-github.fa-1x:hover {
    color: #171515 ;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: all black;
}

i.fa.fa-stack-overflow.fa-1x:hover {
    color: #ef8236;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: all black;
}

i.fa.fa-twitter.fa-1x:hover {
    color: #00acee ;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: all black;
}

i.fa.fa-whatsapp.fa-1x:hover {
    color: 	#075E54;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: all black;
}

i.fa.fa-instagram.fa-1x:hover {
    color: 	#C13584;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    background: all black;
}

/* copyright */

.copyright{
    justify-content: center;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin: 1rem;
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    transition: all 0.3s ease-in-out;
    background:white;
    color: black;
    font-family: var(--font-one);
}

.copyright:hover{
    background:black;
    color: white;
    transition: all 0.3s ease-in-out;
}

.cr{
    text-align: center;
}